
<div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th *ngFor="let title of dtColumsData?.titles" scope="col" class="px-6 py-3">
                    {{title}}
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor="let dataList of dtColumsData?.rows" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td *ngFor="let data of dataList.data; let last = last" scope="row" class="px-6 py-4"
                [ngClass]="{'font-medium text-gray-900 whitespace-nowrap dark:text-white': !last, 'text-right': last}">
                    <span *ngIf="!last">{{data}}</span>
                    <button *ngIf="last" (click)="updateElement(data)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-edit-modal *ngIf="isModalOpen" [editType]="editType" [editData]="editData" (deleteElement)="deleteElement($event)" (applyChanges)="applyChanges($event)" (closeModal)="closeModal()"/>

